APP_ENV=dev
APP_DATABASE_DSN=postgres://user:password@localhost:5432/dbname

APP_PORTS_GRPC=8093
APP_PORTS_HTTP=8094

APP_LOG_LEVEL=INFO

APP_PROCESSOR_MODEL_URL=http://localhost:11434/
APP_PROCESSOR_MODEL_NAME=deepseek-r1

APP_EMBEDDING_MODEL_URL=http://localhost:11434/
APP_EMBEDDING_MODEL_NAME=bge-m3

APP_VECTOR_MODEL_HOST=localhost
APP_VECTOR_MODEL_PORT=6334
APP_VECTOR_MODEL_NAME=qdrant
APP_VECTOR_MODEL_MAIN_COLLECTION=legal_advice
APP_VECTOR_MODEL_MIN_SCORE=0.57
APP_VECTOR_MODEL_MAX_COUNT=1

APP_STRATEGY_CATEGORY_MIN_SCORE=0.51
APP_STRATEGY_CATEGORY_MAX_COUNT=3
APP_STRATEGY_CATEGORY_COLLECTION_NAME=categories

APP_DB_CHAT_HOST=127.0.0.1
APP_DB_CHAT_PORT=9000
APP_DB_CHAT_DB=chat
APP_DB_CHAT_LOGIN=app_chat_user
APP_DB_CHAT_PASSWORD=chat

APP_AUTH_COOKIE_NAME=aizaschita-app-session
APP_AUTH_FREE_MESSAGE_LIMIT=5
APP_AUTH_LOGIN_DOMAIN=https://aizashchita.ru
